body
{
    background-color: #efe3f0;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


/* logo center potition*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* Dinner header*/


h1 {
  color: rgb(53, 7, 66);
    transform: rotate(-90deg) translate(-45%,0);
    transform-origin: 0 0;
    margin-left: -13px;
    
    
}

/* snacks, plates to fish, fish and meat, desserts headers*/

h2 {
    color: rgb(53, 7, 66);
      font-family:monospace;
      
      
  
  }

/* color menu*/

.col-6 {
    background-color: #b382ca;
    zoom:85%;
    
}


#container {
    
    overflow: hidden;
    width: 50px;
    height: 85%;
    position: absolute;
    top: 90;
    left: 450px;
    display: table;
    
  }
  
  .section {
    position: relative;
    height: 13.33333%;
    display: table-row;
    background: #84df6d
    text-align: center;
  }
  
/* link name color,size*/

  .section .link {
    color: #9254af;
    display: table-cell;
    vertical-align: middle;
    line-height: 80px;
    white-space: nowrap;
    max-width: 40px;
    -webkit-transform: rotate(450deg);
  }
  
  .section:hover {
    background: rgba(255, 255, 255, 0)
  }
  
  lu {
    display:inline-block;
  }

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #efe3f0;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu li {
  padding: 2px;
  margin-bottom: 7px;
  background-color: #f8f8f8;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #f1eff0;;
}

.aside {
  background-color: #84df6d;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
}

.footer {
  background-color: #84df6d;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 33.65%;}
.col-7 {width: 33.65%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 97%;
  }
}

row {
    font-family: 'Sans Comic Sans', sans-serif;
                                                
}
p {
    color: rgb(0, 0, 0);
    font-family: Comic;
    font-size: 110%;}
    
p1 {
    color: rgb(0, 0, 0);
    font-family: Comic;
    font-size: 80%;}

    /*space between el/en class*/

    .box {
        margin: 50px auto 0 auto;
        width: 400px;
        height: 360px;
    
        
      }
          